<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wooliesxtechchallenge.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/990c5b31-b298-4b5c-bab0-b19b3ed3273a/resourceGroups/tech-rg/providers/Microsoft.Web/sites/WooliesXTechChallenge</ResourceId>
    <UserName>$WooliesXTechChallenge</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://wooliesxtechchallenge.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>